body{
    background-color: whitesmoke;
    display: flexbox;
}
    #header{
        text-align: center;
        align-items: center;
        
    }
    .contact-info{
        display: flex;
        flex-direction: row;

    }
    
