table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
}
th {
  background-color: #4CAF50;
  color: white;
}
td, th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
tr:hover {
  background-color: black;
}
